
<h2 class="text-center">Hi, <%= session[:user_id] || "stranger" %>, welcome to Student Information System</h2>
<% unless session[:user_id] %>
      <h2> You can <a href="/login">login</a> or <a href="/signup">signup</a>
<% end %>
