<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Junyao's Website</title>
        <link rel="stylesheet" href="/styles.css" type="text/css">
        
    </head>
    <body>

        <img src="<%= url("images/students3.png") %>" style="float: left; width: 55%; margin-right: 5%; margin-top: 2em">  
        <img src="<%= url("images/Student_Info_Sys.png") %>" style="float: right; width: 30%; margin-bottom: 2em; margin-top: 2em">
        <p style="clear: both;">





        <% if logged_in? %>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li><a href="/" class="navbar-brand">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/students">Students</a></li>
                            <li><a href="/comments">Comments</a></li>
                            <li><a href="/video">Video</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        <% end %>

        <% if !logged_in? %>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <div class="container">
                        <ul class="nav navbar-nav">
                            <li><a href="/" class="navbar-brand">Home</a></li>
                            <li><a href="/about">About</a></li>
                            <li><a href="/contact">Contact</a></li>
                            <li><a href="/students">Students</a></li>
                            <li><a href="/comments">Comments</a></li>
                            <li><a href="/video">Video</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/signup">Sign-up</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        <% end %>


    <div class="container">
        <%= yield %>
    </div>
        
    </body>
</html>